@tailwind base;@tailwind components;@tailwind utilities;html,body,#root{height:100%}.canvas-container{background:#f8fafc}*{box-sizing:border-box;padding:0;margin:0}.container{padding:15px}.mb-10{margin-bottom:10px}
